doctype html
html

  head
    block styles
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
      link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
      link(rel="stylesheet" href="/style.css")

  body
    .container
      include messages

      block content

      block scripts
